main:has(.block-thank-you){
  position: relative;
}

.block-thank-you {
  display: flex;
  justify-content: center;
  padding: 160px 0 80px;
  width: 100%;
  @media (max-width: 1200px) {
    padding: 160px 0 80px;
  }
  @media (max-width: 767px) {
    padding: 104px 0 24px;
  }

  &__inner {
    position: relative;
    z-index: 2;
    max-width: 1160px;
    background: #fff;
    box-sizing: border-box;

  }

  &__content img{
    height: 80px;
    width: 80px;
    margin-bottom: 32px;
  }

  &__title {
    font-family: $font-primary;
    font-size: 34px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1.2em;
    text-align: center;
    color: #1f283c;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 26px;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;

    @media (max-width: 767px) {
      padding: 24px;
    }
  }

  p {
    font-size: 18px;
    font-weight: 500;
    color: #1f283c;
    text-align: center;
    width: 100%;
  }

  &__btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 32px;

    a{
      background: transparent;
      color: #FF7010;
      border-width: 0;

      svg{
        fill: transparent !important;

        path{
          transition: all 0.3s ease;
        }
      }

      &:hover{
        color: #1f283c;

        svg path{
          stroke: #1f283c;
        }
      }

      &::before{
        content: none;
      }
    }
  }

  &__bottom {
    p {
      font-size: 16px;
      background: #f3f6fb;
      color: #8f95a4;
      text-align: center;
      width: 100%;
      box-sizing: border-box;
      padding: 35px 130px 35px 130px;
      line-height: 150%;
      @media (max-width: 1200px) {
        padding: 35px;
      }
    }
  }
}