.block-adventure {
  position: relative;
  display: flex;
  align-items: center;
  background: #1f283c;

  width: 100%;
  @media (max-width: 790px) {

    flex-wrap: wrap;
  }

  &__image {
    position: relative;
    width: 50%;
    height: -webkit-fill-available;

    img{
      object-fit: cover;
      height: 100%;
      position: absolute;
      width: 100%;
    }
    @media (max-width: 790px) {

      width: 100%;
    }
    @media (max-width: 765px) {

      height: 325px;
    }
  }

  &__extra_text {
    font-family: Archivo,sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-top: 20px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: -20px;
    color: #959AA6;
    width: 100%;

  }

  &__content {
    position: relative;
    padding: 48px 60px;
    box-sizing: border-box;
    width: 50%;
    flex: none;

    @media (max-width: 960px) {
      padding: 40px 32px;
    }
    @media (max-width: 790px) {
      padding: 32px 16px;
      width: 100%;
    }
  }

  &__title {
    font-family: Archivo,sans-serif;
    font-size: 34px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1.2em;
    width: 100%;
    text-align: center;
    margin-bottom: 36px;
    color: #fff;
    
    @media (max-width: 960px) {
      margin-bottom: 30px;
    }

    @media (max-width: 768px) {
      margin-bottom: 24px;
      font-size: 26px;
    }


  }

  &__icon {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__text {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding-bottom: 36px;
    margin-bottom: 36px;
    width: auto;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #fff;
      left: 0;
    }

    p {
      color: #fff;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      width: 100%;

      strong{
        font-family: Archivo,sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0px;
        text-align: center;
        color: #fff;

      }
    }

    @media (max-width: 960px) {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
    
    @media (max-width: 768px) {
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
  }

  ul {
    padding: 25px 0 25px 25px;
    width: auto;

    li {
      list-style: disc;
      color: #fff;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__price {
    position: relative;
    display: flex;
    margin: 4px 0 36px;
    justify-content: center;
    width: 100%;

    .cur {
      font-family: Archivo,sans-serif;
      font-size: 34px;
      font-weight: 800;
      text-transform: capitalize;
      line-height: 1.2em;
    }

    .price {
      font-family: Archivo,sans-serif;
      font-size: 24px;
      font-weight: 800;
      text-transform: capitalize;
      line-height: 1.2em;

      @media (max-width: 960px) {
        font-size: 22px;
      }
    }
    
    @media (max-width: 960px) {
      margin: 2px 0 30px;
    }
    
    @media (max-width: 768px) {
      margin: 0 0 24px;
    }
  }

  &__price-inner {
    background-color: #00FF25;
    padding: 5px;
  }

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__price-d {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 36px;
    width: 100%;

    span {
      font-family: Archivo,sans-serif;
      font-size: 24px;
      font-weight: 700;
      position: relative;
      text-align: center;
      color: #767c8a;

      @media (max-width: 960px) {
        font-size: 22px;
      }

    }

    del {
      font-family: Archivo,sans-serif;
      font-size: 24px;
      font-weight: 700;
      position: relative;
      text-align: center;
      color: #767c8a;

    }

    @media (max-width: 960px) {
      margin-top: 30px;
    }
    
    @media (max-width: 768px) {
      margin-top: 24px;
    }
  }

  &__price-save {
    margin-top: 4px;
    font-family: Archivo,sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    
    @media (max-width: 960px) {
      margin-top: 2px;
      font-size: 22px;
    }
    
    @media (max-width: 768px) {
      margin-top: 0;
    }
  }
}