.block-journey {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 40px 0;
  width: 100%;

  &__inner {
    max-width: 1420px;
  }

  &__title {
    font-family: $font-primary;
    font-size: 52px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1.2em;
    text-align: center;
    color: #1f283c;
    position: relative;
    width: 100%;
    z-index: 2;

    @media (max-width: 768px) {
      font-size: 34px;
    }
  }
  &__content{
    padding: 185px 0px 185px 0px;
    
      @media (max-width: 768px) {
        padding: 81px 0px 81px 0px;
      }
  }
  &__btn {
    display: flex;
    padding-top: 25px;
    justify-content: center;
    width: 100%;
  }

  
  @media (max-width: 768px) {
    margin: 32px 0;
  }
}