.header__menus.mobi{

    .header__main-nav-menu{
        gap: 8px;
    }

    .menu-item {
        display: flex;
        margin-right: auto;
        flex-direction: column;

        a{
            width: fit-content;
        }
    }

    .sub-menu.active{
        margin-right: auto;
    }
} 
