@use "core/core";.banner-simple {
  position: relative;
  min-height: 305px;
  margin-top: 92px;
  display: flex;
  padding: 80px 0;
  justify-content: center;
  width: 100%;
  @include core.media('<770px') {
    padding: 120px 0 64px;
    margin-top: unset;
  }
  @include core.media('<580px') {
    padding: 100px 0 40px;
    min-height: 188px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }

  &__title {
    color: var(--White, #FFF);
    text-align: center !important;
    margin-bottom: 32px;
    width: 100%;
    @include core.media('<1080px') {
      margin-bottom: 24px;
    }
    @include core.media('<580px') {
      margin-bottom: 16px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  &__text {
    color: var(--White, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-align: center;
    max-width: 49%;
    width: 100%;
    @include core.media('<1200px') {
      max-width: 100%;
    }
  }

  &__pse {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: inherit;
  }
}

.page-single {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #F3F3F3;
  padding: 80px 0;
  @include core.media("<960px") {
    padding: 64px 0;
  }
  @include core.media("<580px") {
    padding: 40px 0;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include core.media('<680px') {
      flex-wrap: wrap;
    }
  }

  &__toc {
    width: 228px;
    position: sticky;
    top: 100px;
    @include core.media('<680px') {
      position: relative;
      margin-bottom: 40px;
      top: unset;
      width: 100%;
    }
  }

  &__toc-title {
    color: core.$c-font-primary;
    /* Body/body-bold */
    font-family: core.$font-primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    position: relative;
    margin-bottom: 8px;
    width: 100%;

  }

  &__toc-nav {
    position: relative;
    width: 100%;

    ul {
      li {
        position: relative;
        width: 100%;

        a {
          box-sizing: border-box;
          padding: 8px 0 8px 16px;
          color: var(--Light-Gray, #84879D);

          /* Body/body-regular */
          font-family: core.$font-primary;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          position: relative;
          width: 100%;
          display: block;

          &:before {
            content: '';
            width: 2px;
            background: #E4E4E4;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
          }

          &.active {
            color: var(--Black, #00011A);
          }

          &.active:before {
            content: '';
            width: 2px;
            background: #829DFF;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
          }
        }
      }
    }
  }

  &__container {
    position: relative;
    width: 100%;
    max-width: 897px;
    @include core.media('<1230px') {
      width: 100%;
      max-width: 70%;
    }

    @include core.media('<1082px') {
      padding-left: 20px;
    }
    @include core.media('<680px') {
      padding-left: unset;
      width: 100%;
      max-width: 100%;
    }
  }

  h2 {
    color: var(--Black, #00011A);
    font-family: core.$font-primary;
    font-size: var(--spacing-l, 32px);
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 44.8px */
    margin-bottom: 25px;

  }

  h3 {
    color: var(--Black, #00011A);

    /* Headings/Desktop/H4-bold */
    font-family: core.$font-primary;
    font-size: var(--font-size-24, 24px);
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    margin-bottom: 16px;
    margin-top: 20px;
  }

  h4 {
    color: var(--Black, #00011A);

    /* Body/body-bold */
    font-family: core.$font-primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
  }

  p {
    color: var(--Gray, #414458);

    /* Body/body-regular */
    font-family: core.$font-primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-bottom: 16px;

    a {
      color: var(--Royal-Blue, #214EEB);
      text-align: center;

      /* Body/body-regular */
      font-family: core.$font-primary;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
    }
  }

  .wp-block-list {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-left: 26px;
    margin-bottom: 10px;

    li {
      color: var(--Gray, #414458);

      /* Body/body-regular */
      font-family: core.$font-primary;
      font-size: 16px;
      font-style: normal;
      position: relative;
      margin-bottom: 8px;
      font-weight: 400;
      line-height: 150%;

      &:before {
        width: 8px;
        height: 8px;
        content: "";
        left: -25px;
        top: 7px;
        background: #829DFF;
        border-radius: 50%;
        position: absolute;
      }
    }
  }

  .wp-block-image {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}

