.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-primary;
  text-align: center;
  border-radius: 8px;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  z-index: 0;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  box-sizing: border-box;
  overflow: hidden;
  padding: 15px 36px;
  border: 1px solid #FF7010;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;


  transition: color 0.3s ease 0s, background 0s ease 0s;

  svg {
    width: 20px;
    fill: #fff;
    margin-right: 15px;
  }

  &:hover {
    svg {
      fill: $c-brand-primary;

    }
  }

  &::before {
    position: absolute;
    content: "";
    background: #FF7010;
    transition-duration: 0.3s;
    z-index: -1;
    inset: 0px 0px auto auto;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  &.btn-s {
    min-height: 3.2142857142857144em;
  }


  @include media('>=2kscreen') {
  }

  &:hover::before {
    width: 0px;
    height: 100%;
    opacity: 1;
  }
}

.btn-primary {
  @extend .btn;

  &:hover {
    color: $c-brand-primary;
  }

  &:hover::before {
    width: 0px;
    height: 100%;
    opacity: 1;

  }

}

.btn-border {
  @extend .btn;
  border: 2px solid $c-brand-primary;
  padding: 14px 16px;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
  color: $c-brand-primary;
  text-transform: uppercase;

  &:before {
    background-color: transparent;
    color: $c-brand-primary;
  }

  @include hover() {
    background: $c-brand-primary;
    color: #fff;
    svg {
      path {
        stroke: #fff;
      }
    }

  }
}

.btn-link {
  font-family: $font-secondary;
  @include adaptive-font(12);
  font-weight: 700;
  line-height: 18px;
  color: $c-brand-primary;
  transition: color .3s ease-in-out;


}

.btn-black {
  @extend .btn;
  color: $c-brand-primary;
  background-color: $c-bg-tertiary;

  &:after {
    background-color: $c-bg-tertiary;
  }
}

.btn-secondary {
  font-family: $font-primary;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.06px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  box-sizing: border-box;
  color: $c-brand-primary;
  padding: 8px 16px;
  border: 2px solid $c-brand-primary;
  border-radius: 33px;
  transition: color .3s ease-in-out;

  &:hover {
    color: $c-font-primary;
    border: 2px solid $c-font-primary;
  }

}

.btn-tertiary {
  @extend .btn;
  background-color: $c-bg-primary;

  &:after {
    background-color: $c-bg-secondary;
  }
}

.btn-nav {
  @extend %btn-clear-icon;
  position: relative;
  display: flex;
  @include adaptive-font(27, 39);
  @include size(1em, 1em);
  transition: opacity .35s ease;

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &__icon,
  &__bg {
    @extend %abs-full;
    transition: fill .5s ease;
  }

  &__icon {
    fill: $c-brand-secondary;
    stroke: #B7BBCC;
    z-index: 1;
  }

  &__bg {
    fill: rgba($c-brand-secondary, 0);
  }

  @include hover() {
    .btn-nav__icon {
      fill: $c-bg-primary;
    }

    .btn-nav__bg {
      fill: $c-brand-secondary;
    }
  }
}

.btn-nav-row {
  display: flex;

  & > button {
    margin: 0 1px;
  }
}

.btn-nav-col {
  & > button {
    margin: 1px 0;
  }
}