@import "../vendor/reset";

// Layout vars
:root {
  --content-gap: 2.65vw;
  --content-gap-s: 2.4vw;
  --content-gap-l: 11.806vw;

  @include media('>=tablet', '<largescreen') {
    --content-gap: 5.65vw;
    --content-gap-s: 2.4vw;
    --content-gap-l: 11.806vw;
  }
  @include media('>=largescreen', '<2kscreen') {
    --content-gap: 5.65vw;
    --content-gap-s: 1.1vw;
    --content-gap-l: 11.806vw;
  }

  @include media('>=2kscreen') {
    --content-gap: 8vw;
    --content-gap-s: 1.1vw;
    --content-gap-l: 11.806vw;
  }
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

img,
video,
iframe {
  vertical-align: bottom;
}


svg {
  g,
  path {
    transform-box: fill-box;
  }
}

.page-wrap {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &.not {
    footer {
      margin-top: 0;
    }
  }

  section {
    width: 100%;

    & > div[class*="inner"] {
      @include adaptive-font(35, 50); // as .block-title font-size
    }
  }
}


.inner {
  position: relative;
  max-width: 1340px;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  @include media("<960px") {
    padding: 0 40px;
  }
  @include media("<580px") {
    padding: 0 20px;
  }
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  @include media('<720px') {
    margin-top: unset;
  }
}

.col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.in-row {
  display: flex;
  flex-wrap: wrap;
}


.img-cover {
  position: absolute;
  top: 0;
  left: 0;
  @include size(100%, 100%);
  object-fit: cover;
  border-radius: inherit;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: var(--color-black-30, rgba(0, 1, 26, 0.30));
  border-radius: 8px;
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px); /* Slide effect */
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* Slide up into view */
}

.scroll-to-top:hover {
  background: rgba(0, 1, 26, 0.50);
  transform: translateY(-5px) scale(1.1); /* Hover effect */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.nf-before-form-content {
  display: none;
}


.nf-before-form-content {
  display: none !important;
}

label {

  color: var(--Black, #00011A) !important;

  /* Body/body-medium */
  font-family: $font-primary !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 150%; /* 24px */
}

.ninja-forms-req-symbol {
  color: var(--Black, #00011A) !important;

  /* Body/body-medium */
  font-family: $font-primary !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 150%; /* 24px */
}

.nf-field-element p {
  color: var(--Gray, #414458) !important;

  /* Body/body-regular */
  font-family: $font-primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */

}

.nf-field-element span {
  color: var(--Gray, #414458) !important;

  /* Body/body-regular */
  font-family: $font-primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */

}


.nf-error input {
  border-bottom: 1px solid red;
}


.nf-response-msg {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #fff !important;


}

.success-message-c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.success-message-title {
  color: var(--Black, #00011A);
  text-align: center;
  font-family: $font-primary;
  font-size: var(--spacing-l, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 44.8px */
  margin-bottom: 32px;
  margin-top: 32px;
  @include media('<980px') {
    font-size: var(--spacing-m, 24px);
    margin-bottom: 24pxpx;
    margin-top: 24px;
  }
  @include media('<680px') {
    font-size: 22px;
  }
}

.success-message-text {
  color: var(--Gray, #414458);
  text-align: center;

  font-family: $font-primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.ninja-forms-field {
  font-size: 16px;
}

.nf-field-container {
  margin-bottom: 0 !important;
  margin-top: 20px;
}

.nf-field-element {
  font-size: 16px;
}

.nf-field-label {
  position: relative;
  font-size: 16px;
}

.label-above .nf-field-label {
  margin-bottom: 0 !important;
  padding-bottom: 10px;

}

nf-errors {
  margin-top: 25px;
  position: relative;
  display: block;

  .nf-error-msg {
    position: relative;
    font-size: 16px;
  }
}

/* ==============================
   General Contact Form Styling
   ============================== */
.block-contact {
  width: 100%;
  display: flex;
  padding: 80px 0;
  justify-content: center;
  position: relative;
  @include media("<960px") {
    padding: 64px 0;
  }
  @include media("<580px") {
    padding: 40px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: 960px) {
      flex-wrap: wrap;
    }

  }

  &__title {
    margin-bottom: 24px;
  }

  &__content {
    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 48px;
    overflow: hidden;
    width: 69%;
    @media (max-width: 960px) {
      width: 100%;
      max-height: unset;
    }
    @media (max-width: 580px) {
      padding: 32px;
    }


  }

  nf-fields-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;

    nf-field {
      width: 100%;
    }

    nf-field:nth-child(1) {
      width: 49% !important;
      @media (max-width: 770px) {
        width: 100% !important;
      }

    }

    nf-field:nth-child(2) {
      width: 49% !important;
      @media (max-width: 770px) {
        width: 100% !important;
      }

    }
  }

  &__image {
    width: 30%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;


    @media (max-width: 960px) {
      width: 100%;
      max-height: 340px;
      margin-bottom: 24px;
    }
    @media (max-width: 580px) {
      height: 260px;
    }

    img {
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      right: 0;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: inherit;

      &.mob {
        display: none;
        @media (max-width: 960px) {
          display: block;
        }
      }

      &.des {

        @media (max-width: 960px) {
          display: none;
        }
      }
    }
  }

  &__pse {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: inherit;
  }

  &__text {
    color: var(--Gray, #414458);

    /* Headings/Tablet/H4-regular */
    font-family: $font-primary;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    margin-bottom: 20px;
  }
}

/* ==============================
   Ninja Forms Floating Labels
   ============================== */
.nf-field-container {
  position: relative;
  margin-bottom: 25px;

  .nf-field {
    position: relative;

    /* Label Styling */
    .nf-field-label {
      position: relative;
      width: 100%;
      display: block;
    }


    /* Input & Textarea Styling */
    .nf-field-element input[type="text"], input[type="email"],
    .nf-field-element textarea {
      width: 100%;
      padding: 0 15px 10px 0px;
      border: none;
      border-bottom: 1px solid #E4E4E4;
      background: transparent;
      transition: all 0.3s ease;
      font-size: 16px;
      outline: none;

      &:focus {
        border-bottom-color: #4a90e2;
      }
    }

    textarea {
      height: 30px;
      resize: vertical;
    }
  }
}

/* ==============================
   Submit Button Styling
   ============================== */

/* ==============================
   Error Message Styling
   ============================== */
.nf-error-wrap {
  color: #d9534f;
  font-size: 14px;
  margin-top: 5px;
}

.nf-response-msg {
  background: #f0f9ff;
  color: #0077cc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

/* ==============================
   Focus Transition Enhancements
   ============================== */
.nf-field.focused .nf-field-element input,
.nf-field.focused .nf-field-element textarea {
  border-bottom: 2px solid #4a90e2;
}

/* Placeholder Visibility (Hidden for Floating Label Effect) */
.nf-field input::placeholder,
.nf-field textarea::placeholder {
  color: transparent;
}

.nf-response-msg {
  background: #f0f9ff;
  color: #07c;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.nf-field-container {
  margin-bottom: 0;
}

.wp-block-spacer.grey {
  position: relative;
  background: #f3f3f3;
  width: 100%;
  @include media('<1080px') {
    height: 20px !important;
  }
  @include media('<580px') {
    height: 20px !important;
  }

}

.legal {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;

  &__inner {
    box-sizing: border-box;
    padding: 20px;
    max-width: 1180px;

    p {

      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #333;

      a {
        text-decoration: underline;

        &:hover {
          color: #00FF25;
        }

      }
    }
    b, strong {
      font-weight: bolder;
    }
    h3 {
      font-family: "Archivo", Sans-serif;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.5em;
    }

    h4 {
      margin-block-end: 20px;
      margin-block-start: 20px;
      font-family: $font-primary;
      font-size: 24px;
      font-weight: 700;

    }
    ul {
      list-style: disc;
      padding-left: 20px;
    }

  }
}